<Context crossContext="true" reloadable="true">
	<Resource mail.smtp.user="root" mail.from="root@localhost" name="mail/Session" 
		mail.smtp.host="localhost" mail.smtp.auth="false" type="javax.mail.Session" 
		password="invent" auth="Container"></Resource>
		
	<Resource maxTotal="150" maxIdle="15" maxWaitMillis="10000" removeAbandonedTimeout="100" 
		removeAbandonedOnBorrow="true" auth="Container" type="javax.sql.DataSource"
		name="jdbc/database" driverClassName="org.postgresql.Driver" url="jdbc:postgresql://localhost/umis" 
		username="postgres" password="Baraza2011">
	</Resource>
	
	<Realm className="org.baraza.server.tomcat.BJDBCRealm"
		dataSourceName="jdbc/database" localDataSource="true"
		userTable="tomcat_users" userNameCol="user_name" userCredCol="entity_password"
		userRoleTable="tomcat_users"  roleNameCol="entity_role">
		<CredentialHandler className="org.apache.catalina.realm.MessageDigestCredentialHandler" algorithm="md5"/>
	</Realm>

</Context>
